In [13]:
a="abcdefghijklmnop"

In [14]:
a[0:] #Grab from index[0] to the end.

'abcdefghijklmnop'

In [15]:
a[2:] #Grab from index[2] c to the end.

'cdefghijklmnop'

In [16]:
a[:3] 
#Grab from the beginning to the one with index[3], 
#but the d with index of 3 will not be included.

'abc'

In [17]:
a[3:6]

'def'

In [18]:
#Step sides:
a[::2] #Grab the letter with step side of 2.

'acegikmo'

In [19]:
a[2:14:3] #a[2:14]:cdefghijklmn, with 3 step side:

'cfil'

In [20]:
a[::-1]

'ponmlkjihgfedcba'

String immutability

In [23]:
a[1]='c' #Error: TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [24]:
#Slicing+Adding:
a[0]+'c'+a[2:]

'accdefghijklmnop'

In [25]:
a*3

'abcdefghijklmnopabcdefghijklmnopabcdefghijklmnop'

In [26]:
b="Hi this is a string."

In [27]:
b.split() #Default split by space.

['Hi', 'this', 'is', 'a', 'string.']

In [28]:
b.split('i') #Get the list of splited strings.

['H', ' th', 's ', 's a str', 'ng.']

In [31]:
b.upper()

'HI THIS IS A STRING.'

In [30]:
b.lower()

'hi this is a string.'

### String format

In [36]:
print('The {} {} {}'.format('quick','brown','fox'))

The quick brown fox

In [35]:
print('The {1} {2} {0}'.format('fox','quick','brown'))

The quick brown fox

In [37]:
print('The {q} {b} {f}'.format(f='fox',q='quick',b='brown'))

The quick brown fox

#### String format with 'f' in print

In [41]:
f='fox'
q='quick'
b='brown'

In [42]:
print(f'The {q} {b} {f}') 
#Use f in 3.6 or higher version to make format more brief.

The quick brown fox

In [43]:
name='Sam'
age=3
print(f'{name} is {age} years old.')

Sam is 3 years old.

Decimal round with format

In [38]:
a=104.1234556

In [39]:
print('The result is {result:10.3f}'.format(result=a)) 
#{float num:width.precision f}

The result is    104.123

In [40]:
print('The result is {result:2.4f}'.format(result=a))

The result is 104.1235

### List Operation

#### Indexing:

In [66]:
list=['one',2,3.5,'four']
print(list[0])
print(list[2])

one
3.5

#### Slicing-Similar to string operation.

In [67]:
print(list[:2]) 
print(list[1:4])

['one', 2]
[2, 3.5, 'four']

#### Catenation-Similar to string operation.

In [68]:
another_list=['three',5]
print(list+another_list)

['one', 2, 3.5, 'four', 'three', 5]

#### List mutability-Different from String.

In [69]:
list[0]='ONE'
print(list) #list from ['one',2,3.5,'four'] to ['ONE', 2, 3.5, 'four']

['ONE', 2, 3.5, 'four']

#### List append

In [70]:
another_list.append('seven')

In [71]:
print(another_list)

['three', 5, 'seven']

In [72]:
print(another_list+'seven') #List could not add new items.Different from string.

TypeError: can only concatenate list (not "str") to list

In [73]:
another_list.append(list)
print(another_list) #append the whole list, not the items.

['three', 5, 'seven', ['ONE', 2, 3.5, 'four']]

#### List Sort & assign

In [81]:
list_str=['d','i','a','k','b']
list_num=[4,6,1,7,8]

In [82]:
new_list_str=list_str.sort()
print(type(new_list_str)) #the result after sorting could not be assigned to a new list, as it is None Type.

<class 'NoneType'>

In [83]:
#If you want to assign the new list to another variable list:
list_str.sort()
new_list_str=list_str #The sorting will be operated on the original list and return NONE.

print(new_list_str)

['a', 'b', 'd', 'i', 'k']

In [84]:
print(list_num.sort()) #print nothing after sorting. Must check original list.

None

In [85]:
list_num.sort() #The sorting will be operated on the original list and return NONE.
print(list_num)

[1, 4, 6, 7, 8]

#### List Reverse()

In [86]:
print(list_str.reverse()) #similar to sort.
print(list_num.reverse())

None
None

In [87]:
list_str.reverse()
list_num.reverse()
print(list_str)
print(list_num)

['a', 'b', 'd', 'i', 'k']
[1, 4, 6, 7, 8]

#### List Pop()

In [88]:
list_str.pop() #Return the item has been poped out.

'k'

In [89]:
list_str.pop(2) #Return the item assigned should be poped out: d
print(list_str)

['a', 'b', 'i']

In [90]:
list_num.pop(2:4) #Could not pop as [:] format.

SyntaxError: invalid syntax (<ipython-input-90-1dd139e5522c>, line 1)

### Dictionary

#### Dictionary definition, grab value by keys

In [109]:
dic_price={'apple':3.3, 'orange':2.0, 'peach':1.8,'milk':1.5, 'egg':2.9} 
#Dictionary definition by {}!

In [110]:
#Grab value by key:
price_orange=dic_price['orange']
print(price_orange)

2.0

#### Dictionary add new pair:

In [111]:
dic_price['bread']=3.0
print(dic_price)

{'apple': 3.3, 'orange': 2.0, 'peach': 1.8, 'milk': 1.5, 'egg': 2.9, 'bread': 3.0}

#### Dictionary Reassign value of one item

In [112]:
dic_price['peach']=2.4
print(dic_price)

{'apple': 3.3, 'orange': 2.0, 'peach': 2.4, 'milk': 1.5, 'egg': 2.9, 'bread': 3.0}

#### Dictionary Grab all keys, values & items

In [113]:
print(dic_price.keys())
print(dic_price.values())
print(dic_price.items())

dict_keys(['apple', 'orange', 'peach', 'milk', 'egg', 'bread'])
dict_values([3.3, 2.0, 2.4, 1.5, 2.9, 3.0])
dict_items([('apple', 3.3), ('orange', 2.0), ('peach', 2.4), ('milk', 1.5), ('egg', 2.9), ('bread', 3.0)])

#### Dictionary with flexible types

In [114]:
dic_mixed={'key1':1, 'key2':'two', 'key3':[0,1,2,3], 'key4':{'0':1,'1':'one','2':2.0,'3':'three','4':4.00}}

#### Dictionary: grab subitem of list by index

In [115]:
item=dic_mixed['key3']
print(item)

value=dic_mixed['key3'][2]
print(value)

[0, 1, 2, 3]
2

#### Dictionary: Grab sub-value by sub-key:

In [116]:
item=dic_mixed['key4']
print(item)

subvalue=dic_mixed['key4']['4']
print(subvalue)

{'0': 1, '1': 'one', '2': 2.0, '3': 'three', '4': 4.0}
4.0

#### Dictionary: mixed operations with Upper()...

In [117]:
dic_mixed['key4']['3']=dic_mixed['key4']['3'].upper()
print(dic_mixed)

{'key1': 1, 'key2': 'two', 'key3': [0, 1, 2, 3], 'key4': {'0': 1, '1': 'one', '2': 2.0, '3': 'THREE', '4': 4.0}}

### Tuple

#### Tuple definition: pure type & multiple types.

In [126]:
t=(10,23,8,13,19)
t_m=('ten',23,'eight',13,' ',19.0,13)

#### Tuple length:

In [127]:
print(len(t))
print(len(t_m))

5
7

#### Tuple count how many times occurrs and the index of 1st time occurs:

In [128]:
print(t_m.count(13))

2

In [129]:
print(t_m.index(13)) #the 1st time of 13 occurs in t_m tuple.

3

#### Tuple: validate if immutable

In [132]:
t_m[3]='thirteen' # IMMUTABLE! similar to string.

TypeError: 'tuple' object does not support item assignment

#### Tuple: embeded tuples

In [133]:
t_e=((2,1),3,4)

In [134]:
print(t_e[0])
print(t_e[1])

(2, 1)
3

### Sets

#### Sets: definition(By adding), type checking.

In [135]:
myset=set()

myset.add(4)
myset.add(2)
myset.add('test')
myset.add(1)

In [137]:
print(myset)
print(type(myset))

{1, 2, 4, 'test'}
<class 'set'>

#### Sets: unique item checking:

In [140]:
myset.add('test') #Unique! Remove duplicated ones automatically.
print(myset)

{1, 2, 4, 'test'}

#### Sets: Re-type list to sets.

In [141]:
mylist=[4,2,'test',1]
myset=set(mylist)

print(myset)

{1, 2, 4, 'test'}

#### Set: Re-type string to sets.

In [143]:
print(set('Mississippi'))

{'p', 'i', 's', 'M'}

### Boolean:

In [145]:
b=None
print(b==None)

True