In [13]:
a="abcdefghijklmnop"

In [14]:
a[0:] #Grab from index[0] to the end.

'abcdefghijklmnop'

In [15]:
a[2:] #Grab from index[2] c to the end.

'cdefghijklmnop'

In [16]:
a[:3] 
#Grab from the beginning to the one with index[3], 
#but the d with index of 3 will not be included.

'abc'

In [17]:
a[3:6]

'def'

In [18]:
#Step sides:
a[::2] #Grab the letter with step side of 2.

'acegikmo'

In [19]:
a[2:14:3] #a[2:14]:cdefghijklmn, with 3 step side:

'cfil'

In [20]:
a[::-1]

'ponmlkjihgfedcba'

String immutability

In [23]:
a[1]='c' #Error: TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [24]:
#Slicing+Adding:
a[0]+'c'+a[2:]

'accdefghijklmnop'

In [25]:
a*3

'abcdefghijklmnopabcdefghijklmnopabcdefghijklmnop'

In [26]:
b="Hi this is a string."

In [27]:
b.split() #Default split by space.

['Hi', 'this', 'is', 'a', 'string.']

In [28]:
b.split('i') #Get the list of splited strings.

['H', ' th', 's ', 's a str', 'ng.']

In [31]:
b.upper()

'HI THIS IS A STRING.'

In [30]:
b.lower()

'hi this is a string.'

### String format

In [36]:
print('The {} {} {}'.format('quick','brown','fox'))

The quick brown fox

In [35]:
print('The {1} {2} {0}'.format('fox','quick','brown'))

The quick brown fox

In [37]:
print('The {q} {b} {f}'.format(f='fox',q='quick',b='brown'))

The quick brown fox

#### String format with 'f' in print

In [41]:
f='fox'
q='quick'
b='brown'

In [42]:
print(f'The {q} {b} {f}') 
#Use f in 3.6 or higher version to make format more brief.

The quick brown fox

In [43]:
name='Sam'
age=3
print(f'{name} is {age} years old.')

Sam is 3 years old.

Decimal round with format

In [38]:
a=104.1234556

In [39]:
print('The result is {result:10.3f}'.format(result=a)) 
#{float num:width.precision f}

The result is    104.123

In [40]:
print('The result is {result:2.4f}'.format(result=a))

The result is 104.1235

### List Operation

#### Indexing:

In [3]:
list=['one',2,3.5,'four',2,'four'] #List items could be duplicated!
print(list)
print(list[0])
print(list[2])

['one', 2, 3.5, 'four', 2, 'four']
one
3.5

#### Slicing-Similar to string operation.

In [67]:
print(list[:2]) 
print(list[1:4])

['one', 2]
[2, 3.5, 'four']

#### Catenation-Similar to string operation.

In [68]:
another_list=['three',5]
print(list+another_list)

['one', 2, 3.5, 'four', 'three', 5]

#### List mutability-Different from String.

In [69]:
list[0]='ONE'
print(list) #list from ['one',2,3.5,'four'] to ['ONE', 2, 3.5, 'four']

['ONE', 2, 3.5, 'four']

#### List append

In [70]:
another_list.append('seven')

In [71]:
print(another_list)

['three', 5, 'seven']

In [72]:
print(another_list+'seven') #List could not add new items.Different from string.

TypeError: can only concatenate list (not "str") to list

In [73]:
another_list.append(list)
print(another_list) #append the whole list, not the items.

['three', 5, 'seven', ['ONE', 2, 3.5, 'four']]

#### List Sort & assign

In [81]:
list_str=['d','i','a','k','b']
list_num=[4,6,1,7,8]

In [82]:
new_list_str=list_str.sort()
print(type(new_list_str)) #the result after sorting could not be assigned to a new list, as it is None Type.

<class 'NoneType'>

In [83]:
#If you want to assign the new list to another variable list:
list_str.sort()
new_list_str=list_str #The sorting will be operated on the original list and return NONE.

print(new_list_str)

['a', 'b', 'd', 'i', 'k']

In [84]:
print(list_num.sort()) #print nothing after sorting. Must check original list.

None

In [85]:
list_num.sort() #The sorting will be operated on the original list and return NONE.
print(list_num)

[1, 4, 6, 7, 8]

#### List Reverse()

In [86]:
print(list_str.reverse()) #similar to sort.
print(list_num.reverse())

None
None

In [87]:
list_str.reverse()
list_num.reverse()
print(list_str)
print(list_num)

['a', 'b', 'd', 'i', 'k']
[1, 4, 6, 7, 8]

#### List Pop()

In [88]:
list_str.pop() #Return the item has been poped out.

'k'

In [89]:
list_str.pop(2) #Return the item assigned should be poped out: d
print(list_str)

['a', 'b', 'i']

In [90]:
list_num.pop(2:4) #Could not pop as [:] format.

SyntaxError: invalid syntax (<ipython-input-90-1dd139e5522c>, line 1)

#### List max & min:

In [42]:
listInt=[335,623,7,246,788,135]
print(max(listInt))
print(min(listInt))

listStr=['daf','ewe','ysd','peo','z']
print(max(listStr))
print(min(listStr))

788
7
z
daf

#### List  comprehension: Generate list by python simple type. (means append())

In [61]:
listInt=[num for num in range(0,10)]
print(listInt)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

####  List  comprehension: Generate list by python simple type + operation ahead

In [62]:
listInt=[num**2 for num in range(1,5)]
print(listInt)

[1, 4, 9, 16]

####  List  comprehension: Generate list by python simple type + operation ahead + condition behind.

In [63]:
listInt=[num**2 for num in range(1,5) if num%2==0] #Just square on the even num.
print(listInt)

[4, 16]

In [72]:
listInt=[num**2  if num%2==0 for num in range(1,5)] # Pure IF: must be on the rear.
print(listInt)

SyntaxError: invalid syntax (<ipython-input-72-1a17ad9a2167>, line 1)

In [64]:
#Another e.g:
celcius=[34,22,12,20]
fahrenheit=[(9/5)*temp+32 for temp in celcius if temp>15]
print(fahrenheit)

[93.2, 71.6, 68.0]

In [66]:
#### List  comprehension: Different positions! with else.
listInt=[num**2 if num%2==0 else "odd" for num in range(0,10)]
print(listInt)

[0, 'odd', 4, 'odd', 16, 'odd', 36, 'odd', 64, 'odd']

In [70]:
listInt=[num**2 for num in range(0,10) if num%2==0 else "odd"] #IF ELSE will be error if put on the rear.
print(listInt)

SyntaxError: invalid syntax (<ipython-input-70-4fc84652953f>, line 1)

#### List Comprehension: Recommend Readable first!

In [78]:
#I. Times by 2 for loop:
listres=[]
x=[1,2,3]
y=[100,200,300]

for numx in x:
    for numy in y:
        listres.append(numx*numy)
print(listres)

#II. By list comprehension:
listres=[numx*numy for numx in x for numy in y] #But not readable...
print(listres)

[100, 200, 300, 200, 400, 600, 300, 600, 900]
[100, 200, 300, 200, 400, 600, 300, 600, 900]

### Dictionary

#### Dictionary definition, grab value by keys

In [5]:
dic_price={'apple':3.3, 'orange':2.0, 'peach':1.8,'milk':1.5, 'egg':2.9,'egg':2.9,'milk':1.6} 
#Dictionary definition by {}!
print(dic_price)
# Dictionary:Only one unique key with the lastest value in it.

{'apple': 3.3, 'orange': 2.0, 'peach': 1.8, 'milk': 1.6, 'egg': 2.9}

In [110]:
#Grab value by key:
price_orange=dic_price['orange']
print(price_orange)

2.0

#### Dictionary add new pair:

In [111]:
dic_price['bread']=3.0
print(dic_price)

{'apple': 3.3, 'orange': 2.0, 'peach': 1.8, 'milk': 1.5, 'egg': 2.9, 'bread': 3.0}

#### Dictionary Reassign value of one item

In [112]:
dic_price['peach']=2.4
print(dic_price)

{'apple': 3.3, 'orange': 2.0, 'peach': 2.4, 'milk': 1.5, 'egg': 2.9, 'bread': 3.0}

#### Dictionary Grab all keys, values & items

In [113]:
print(dic_price.keys())
print(dic_price.values())
print(dic_price.items())

dict_keys(['apple', 'orange', 'peach', 'milk', 'egg', 'bread'])
dict_values([3.3, 2.0, 2.4, 1.5, 2.9, 3.0])
dict_items([('apple', 3.3), ('orange', 2.0), ('peach', 2.4), ('milk', 1.5), ('egg', 2.9), ('bread', 3.0)])

#### Dictionary with flexible types

In [114]:
dic_mixed={'key1':1, 'key2':'two', 'key3':[0,1,2,3], 'key4':{'0':1,'1':'one','2':2.0,'3':'three','4':4.00}}

#### Dictionary: grab subitem of list by index

In [115]:
item=dic_mixed['key3']
print(item)

value=dic_mixed['key3'][2]
print(value)

[0, 1, 2, 3]
2

#### Dictionary: Grab sub-value by sub-key:

In [116]:
item=dic_mixed['key4']
print(item)

subvalue=dic_mixed['key4']['4']
print(subvalue)

{'0': 1, '1': 'one', '2': 2.0, '3': 'three', '4': 4.0}
4.0

#### Dictionary: mixed operations with Upper()...

In [117]:
dic_mixed['key4']['3']=dic_mixed['key4']['3'].upper()
print(dic_mixed)

{'key1': 1, 'key2': 'two', 'key3': [0, 1, 2, 3], 'key4': {'0': 1, '1': 'one', '2': 2.0, '3': 'THREE', '4': 4.0}}

### Tuple

#### Tuple definition: pure type & multiple types.

In [6]:
t=(10,23,8,13,19,19) #Tuple: could be duplicated!
t_m=('ten',23,'eight',13,' ',19.0,13)

In [7]:
print(t)

(10, 23, 8, 13, 19, 19)

#### Tuple length:

In [8]:
print(len(t))
print(len(t_m))

6
7

#### Tuple count how many times occurrs and the index of 1st time occurs:

In [128]:
print(t_m.count(13))

2

In [129]:
print(t_m.index(13)) #the 1st time of 13 occurs in t_m tuple.

3

#### Tuple: validate if immutable

In [132]:
t_m[3]='thirteen' # IMMUTABLE! similar to string.

TypeError: 'tuple' object does not support item assignment

#### Tuple: embeded tuples

In [133]:
t_e=((2,1),3,4)

In [134]:
print(t_e[0])
print(t_e[1])

(2, 1)
3

### Sets

#### Sets: definition(By adding), type checking.

In [9]:
myset=set()

myset.add(4)
myset.add(2)
myset.add('test')
myset.add(1)
myset.add(1)
myset.add('test')

In [11]:
print(myset) #Set: could NOT be duplicated!
print(type(myset))

{1, 2, 4, 'test'}
<class 'set'>

#### Sets: unique item checking:

In [140]:
myset.add('test') #Unique! Remove duplicated ones automatically.
print(myset)

{1, 2, 4, 'test'}

#### Sets: Re-type list to sets.

In [141]:
mylist=[4,2,'test',1]
myset=set(mylist)

print(myset)

{1, 2, 4, 'test'}

#### Set: Re-type string to sets.

In [143]:
print(set('Mississippi'))

{'p', 'i', 's', 'M'}

### Boolean:

In [145]:
b=None
print(b==None)

True

### File I/O:

In [154]:
%%writefile testfile.txt 
#The file will be saved as the same paths with currrent .ipynb file.
hello, this is a test file
This is 2nd line.
This is 3rd line.

Overwriting testfile.txt

In [158]:
pwd

'C:\\Users\\Zi Wei Fan'

In [159]:
testfile=open('testfile.txt')

In [160]:
testfile.read()

'#The file will be saved as the same paths with currrent .ipynb file.\nhello, this is a test file\nThis is 2nd line.\nThis is 3rd line.\n'

In [162]:
testfile.read()

''

#### the 'cursor' will go to the end of the file so there will not be more content output.
#### If you want to read again after 1st reading, use seek(0) to make the 'cursor' to the beginning after the 1st time reading.

In [161]:
testfile.seek(0)
testfile.read()

'#The file will be saved as the same paths with currrent .ipynb file.\nhello, this is a test file\nThis is 2nd line.\nThis is 3rd line.\n'

In [163]:
testfile.seek(2) # Assign the 'cursor' location to read out.
testfile.read()

'he file will be saved as the same paths with currrent .ipynb file.\nhello, this is a test file\nThis is 2nd line.\nThis is 3rd line.\n'

In [165]:
testfile.seek(0)
testfile.readlines() #Read lines one by one without \.

['#The file will be saved as the same paths with currrent .ipynb file.\n',
 'hello, this is a test file\n',
 'This is 2nd line.\n',
 'This is 3rd line.\n']

#### Write Doc and close:

In [198]:
file=open("C:\\Learning\\mysql-init.txt",mode="w")
file.write("Helloworld")
file.close()

file=open("C:\\Learning\\mysql-init.txt",mode="r")
file=file.read() #Read out.
print(file)

Helloworld

#### Read file locates in other paths:

In [184]:
testAnotherfile=open("C:\\Learning\\mysql-init.txt") #Another path different from current .ipynb file.
testAnotherfile.seek(0)
testAnotherfile.read()

"#The file will be saved as the same paths with currrent .ipynb file.\\n',\n 'hello, this is a test file\\n',\n 'This is 2nd line.\\n',\n 'This is 3rd line."

#### Close file in 2 ways:

In [185]:
testAnotherfile.close() #I. Close mannually.

In [186]:
with open("C:\\Learning\\mysql-init.txt",mode='r') as testAnotherfile:
    testAnotherfile=testAnotherfile.read()
    
print(testAnotherfile)

#The file will be saved as the same paths with currrent .ipynb file.\n',
 'hello, this is a test file\n',
 'This is 2nd line.\n',
 'This is 3rd line.

In [187]:
with open("C:\\Learning\\mysql-init.txt",mode='r+') as testAnotherfile: #Permission issues.
    testAnotherfile=testAnotherfile.read()
    
print(testAnotherfile)

#The file will be saved as the same paths with currrent .ipynb file.\n',
 'hello, this is a test file\n',
 'This is 2nd line.\n',
 'This is 3rd line.

#### Permission in 5 modes:
#### "r","w","a"(append),"r+"(reading & writing),"w+"(overwrite or create)
#### Append:

In [189]:
with open("C:\\Learning\\mysql-init.txt",mode='a') as f:
          f.write("\n This is 4th lined appended.")
with open("C:\\Learning\\mysql-init.txt",mode='r') as f:
          print(f.read())

#The file will be saved as the same paths with currrent .ipynb file.\n',
 'hello, this is a test file\n',
 'This is 2nd line.\n',
 'This is 3rd line.
 This is 4th lined appended.

In [195]:
with open("C:\\Learning\\dafosfhhsaeu.txt", mode="w+") as f:
    f.write("I created the file if the file doesn't exist!")
    #Creat the file if the same file doesn't exist!
    
with open("dafosfhhsaeu.txt", mode="r") as f:
    f=f.read() #Read the file out.
    
print(f)

I created the file if the file doesn't exist!

### Comparison Operator

In [1]:
2.0==2

True

In [2]:
"Bye"=="Bye"

True

#### Chain comparison operator

In [13]:
2<3>5 #2<3 AND 3>5

False

In [14]:
2<5>3

True

In [15]:
not (2>5)

True

### Conditional operation:

In [16]:
name='Jose'

if name=='Frank':
    print('Hello, Frank!')
elif name=='Tom':
    print('Hello,this is Tom!')
elif name =='Bob':
    print('Hello, this is Bob!')
else:
    print('No this person.')

No this person.

In [17]:
name='Frank'

if name=='Frank':
    print('Hello, Frank!')
elif name=='Tom':
    print('Hello,this is Tom!')
elif name =='Bob':
    print('Hello, this is Bob!')
else:
    print('No this person.')

Hello, Frank!

### For Loop:

#### 1. Loop in list to pick up even, get sum.
#### 2. Loop in tuples, sub tuples with unpacked values, with unbalanced tuples.
#### 3. Loop in dictionary: items, values and unpakced key-value pairs.

#### 1. Loop in list to pick up even, get sum.

In [20]:
list1=[3,5,1,64,46,134,75,87,42,146,76]

for num in list1: #Loop in list to pick up even
    if num%2==0:
        print(f"even num: {num}")
    else:
        print(f"odd num: {num}")

odd num: 3
odd num: 5
odd num: 1
even num: 64
even num: 46
even num: 134
odd num: 75
odd num: 87
even num: 42
even num: 146
even num: 76

In [21]:
# get sum
list1=[3,5,1,64,46,134,75,87,42,146,76]
sum=0

for num in list1:
    sum=sum+num
    print(f"Current sum: {sum}")
print(f"Total sum: {sum}")

Current sum: 3
Current sum: 8
Current sum: 9
Current sum: 73
Current sum: 119
Current sum: 253
Current sum: 328
Current sum: 415
Current sum: 457
Current sum: 603
Current sum: 679
Total sum: 679

#### 2. Loop in tuples, sub tuples with unpacked values, with unbalanced tuples.

In [22]:
##### Loop in tuples, sub tuples with unpacked values, with unbalanced tuples.
tuple1=(3,5,'one','two',4,'eight')
for t in tuple1:
    print(t)

3
5
one
two
4
eight

In [23]:
tuplePair=(('three',3),(4,'four'),('one',1),(2,'two'),('five',5)) #sub tuples

for item in tuplePair:
    print(item)

('three', 3)
(4, 'four')
('one', 1)
(2, 'two')
('five', 5)

In [27]:
# sub tuples with unpacked values
for (value1, value2) in tuplePair:
    print(f"loop pairs: {value1, value2}")
    print(f"loop first value:{value1}")
    print(f"loop second value:{value2}")

loop pairs: ('three', 3)
loop first value:three
loop second value:3
loop pairs: (4, 'four')
loop first value:4
loop second value:four
loop pairs: ('one', 1)
loop first value:one
loop second value:1
loop pairs: (2, 'two')
loop first value:2
loop second value:two
loop pairs: ('five', 5)
loop first value:five
loop second value:5

In [34]:
tuplePair_Unbalanced=(('three',3,3),(4,'four',4),('one',1,1),(2,'two'),('five',5)) #Unbalanced pair.

for item in tuplePair_Unbalanced:
    print(item)

('three', 3, 3)
(4, 'four', 4)
('one', 1, 1)
(2, 'two')
('five', 5)

In [35]:
for (subitem1,subitem2,subitem3) in tuplePair_Unbalanced: #For pair with 3 items it works, but doesn't work in the item with 2 items.
    print(subitem1)

three
4
one

ValueError: not enough values to unpack (expected 3, got 2)

In [36]:
for (subitem1,subitem2) in tuplePair_Unbalanced: # Doesn't work with 3 sub-values.
    print(subitem1)

ValueError: too many values to unpack (expected 2)

#### 3. Loop in dictionary: items, values and unpakced key-value pairs.

In [43]:
dic_price={'apple':3.3, 'orange':2.0, 'peach':1.8,'milk':1.5, 'egg':2.9,'egg':2.9,'milk':1.6}
print(dic_price)

for item in dic_price: #Just return key.
    print(item)

{'apple': 3.3, 'orange': 2.0, 'peach': 1.8, 'milk': 1.6, 'egg': 2.9}
apple
orange
peach
milk
egg

In [38]:
for item in dic_price.items(): #Return pairs.
    print(item)

('apple', 3.3)
('orange', 2.0)
('peach', 1.8)
('milk', 1.6)
('egg', 2.9)

In [41]:
for (key, value) in dic_price.items():
    print(key)

apple
orange
peach
milk
egg

In [42]:
for (key, value) in dic_price.items():
    print(value)

3.3
2.0
1.8
1.6
2.9

### While Loops
#### 1. Typical while loops
#### 2. Break; 
#### 3. Continue; 
#### 4. Pass;

In [48]:
# 1. Typcial While loop:
x=0
while x<5:
    print("x < 5")
    x+=1
    print(x)
else:               #While...else...
    print("x=5")

x < 5
1
x < 5
2
x < 5
3
x < 5
4
x < 5
5
x=5

In [49]:
# 2.1 Break: Break out of current closet loop;
str="Sammy"

for letter in str:
    print(letter)
    if letter =="m":
        break;

S
a
m

In [51]:
# 2.2 Break: Break out of current closet loop;
str="Sammy"

for letter in str:
    if letter =="m":
        break;
    print(letter)

S
a

In [53]:
# 2.3 Break: Break out of current closet loop;
x=0

while x<5:
    x+=1
    if x==3:
        break
    print(x)

1
2

In [54]:
# 3 Continue: Goes to the top of the closest loop.
str="Sammy"
for letter in str:
    if letter =="m": 
        continue # If it is m, then go to the top of the loop, that Will pass all m.
    print(letter)

S
a
y

In [56]:
# 3.1 Continue:
x=0

while x<5:
    x+=1
    if x==3:
        continue # If it is 3, then go to the top of the loop, that Will pass 3.
    print(x)

1
2
4
5

In [2]:
# 4. Pass: Do NOTHING in if:
x=0

if x<5:
    pass #prepare for testing or TODO.

print(x)

0

In [6]:
# 4. Pass: Do NOTHING in for:
x=[1,2,3]

for num in x:
    num+=1
    pass #prepare for testing or TODO.

print(x)

[1, 2, 3]

In [ ]:
#### !Notice: CANNOT use in WHILE! then locked loop.

### Range
#### 1. Range with start, end;
#### 2. Range with start, end, step;
#### 3. Range into list;
#### 4. Range with tuple pair;

In [9]:
# 1. Range with start, end:
for num in range(2,10):
    print (num)
#Notice: 10 will not be included, but the beginning 2 will be included.

2
3
4
5
6
7
8
9

In [10]:
# 2 Range with start, end, step:
for num in range(2,10,3):
    print(num)

2
5
8

In [12]:
# 3. Range into list:
listnum=list(range(2,10,3))
print(listnum)

[2, 5, 8]

In [20]:
# 4.0 Range 
str="Sammy"
indexstr=0

for item in str:
    print("The index {} is of char {}.".format(indexstr, item))
    indexstr+=1

The index 0 is of char S.
The index 1 is of char a.
The index 2 is of char m.
The index 3 is of char m.
The index 4 is of char y.

In [21]:
# 4.1 Range 
str="Sammy"
indexstr=0

for item in str:
    print(indexstr, str[indexstr])
    indexstr+=1

0 S
1 a
2 m
3 m
4 y

In [22]:
# 4.2 Range with tuple pair:
str="Sammy"

for item in enumerate(str): #Get tuples by enumerate().
    print(item)

(0, 'S')
(1, 'a')
(2, 'm')
(3, 'm')
(4, 'y')

In [27]:
#4.3 Get value from tuple:
str="Sammy"

for (key, value) in enumerate(str):
    print(key) #Get key & value
    print(value)

0
S
1
a
2
m
3
m
4
y

### 5. In():

In [29]:
# 5. Check if sth. in sth:
print("s" in "string")
print(5 in [3,4,1,5])

True
True

In [30]:
# 5.1 Check if sth. in dictionary:
print('key' in {"key":"value"})

True

In [31]:
dic={"key1":"value1","key2":"value2","key3":"value3"}
print('key1' in dic)

True

In [39]:
dic={"key1":"value1","key2":"value2","key3":"value3"}
print('key1' in dic.keys()) #dic.keys(): Get keys by list: dict_keys(['key1', 'key2', 'key3'])

dic={"key1":"value1","key2":"value2","key3":"value3"}
print('value2' in dic.values()) #dic.values(): Get values by list: dict_values(['value1', 'value2', 'value3'])

True
True

### 6. random library:
#### 1. shuffle numbers;
#### 2. Get random number;

In [47]:
# 1. shuffle numbers:
from random import shuffle
listInt=[1,2,3,4,5,6,7,8,9,10]

shuffledList=shuffle(listInt) #None return when call shuffle function.

print(shuffledList)
print(listInt)

# 1.1 Shuffle chars:
liststr=["a","b","c","d","e"]
shuffle(liststr)
print(liststr)

None
[9, 1, 2, 3, 7, 8, 6, 10, 5, 4]
['e', 'b', 'c', 'd', 'a']

In [50]:
# 2. Get random number.
from random import randint

result=randint(3,39) #randint(start, end)
print(result)

30

### 7. input()
#### 1. Get input as parameters;
#### 2. Transfer input to int.

In [51]:
# 7.1 Get input:
para=input("Please input:")
print(para)

Please input:test
test

In [54]:
#7.2 transfer to int:
para=input("Input an integer:")
print(type(para)) #Originally, all the input will be in string.

para=int(para) #Transfer to integer.
print(type(para))

Input an integer:33
<class 'str'>
<class 'int'>